.home-img__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    position: relative;
}

.image-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;

}

.abstract_bg {
    width: 50%;
    margin-top: 3%;
}

.home-img__container img {
    position: fixed;
    top: 3%;
}


  /* lg */
  @media (max-width: 1024px) {
    .image-container {
        width: 80%;
    
    }

    .abstract_bg {
        margin-top: 10%;
    }

    .player_bg {
        width: 40%;
        margin-top: 3%;
    }
  }

  /* md */
@media (max-width: 768px) {
    .abstract_bg {
        margin-top:30%;
    }

    .player_bg {
        width: 40%;
        margin-top: 20%;
    }

}


/* xxs */
@media (max-width: 320px) {
    .home-img__container {
        display: none;
    }
}
