.home-text__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 200px 10px 0px 100px;
}

.home-text__container p {
    font-family: "Teko", sans-serif;
    font-size: 25px;
    margin: 10px 0 0 0;
}

:root {
    --glow-color: rgb(255, 255, 255);
  }

.home-text__container h1 {
    font-family: 'VTF Redzone Classic', sans-serif;
    font-size: 60px;
    position: absolute;
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.home-text__container h1:nth-child(odd) { --glitch-translate: 8px; }
.home-text__container h1:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  .chance-cup__header {
    position: relative;
    margin: -50px 0 100px 0;
  }

  .chance-cup__header {
    -webkit-text-shadow: 0 0 0 16px rgba(255, 255, 255, 0.9),
    0 0 0 16px var(--glow-color);
  -moz-text-shadow: 0 0 16px rgba(255, 255, 255, 0.9),
    0 0 0 16px var(--glow-color);
  text-shadow: 0 0 0 16px rgba(255, 255, 255, 0.9), 0 0 0 16px var(--glow-color);
  animation: text-flicker 3s linear infinite;
  }


  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }


  /* lg */
@media (max-width: 1440px) {
  .home-text__container {
    padding: 240px 10px 0px 100px;
}

  .home-text__container p {
    margin: 120px 0 0 0;
}

.home-text__container h1 {
  font-size: 60px;
}

.chance-cup__header {
  margin: 10px 0 0 0;
}

}

  /* lg */
@media (max-width: 1382px) {
  .home-text__container {
    padding: 10px 10px 0px 100px;
}

  .home-text__container p {
    margin: 120px 0 0 0;
}

.home-text__container h1 {
  font-size: 60px;
}

.chance-cup__header {
  margin: 0 0 0 0;
}

}

  /* lg */
@media (max-width: 1024px) {
  .home-text__container {
    padding: 240px 10px 0px 100px;
}

  .home-text__container p {
    margin: 100px 0 0 0;
}

.home-text__container h1 {
  font-size: 50px;
}

.chance-cup__header {
  margin: 0 0 0 0;
}

}


  /* md */
  @media (max-width: 768px) {
  
  .home-text__container h1 {
    font-size: 40px;
  }

  .home-text__container p {
    font-size: 20px;
    margin: 30px 0 0 0;
}

.home-text__container {
  padding: 300px 10px 0px 50px;
}

.chance-cup__header {
  margin: 100px 0 50px 0;
}
  }

  /* md */
  @media (max-width: 671px) {
  
  .home-text__container h1 {
    font-size: 37px;
  }

  .home-text__container p {
    font-size: 20px;
    margin: 30px 0 0 0;
}

.home-text__container {
  padding: 300px 10px 0px 50px;
}

.chance-cup__header {
  margin: 100px 0 50px 0;
}
  }


  /* xxs */
@media (max-width: 320px) {
  .home-text__container {
    padding: 70px 10px 0px 10px;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .home-text__container h1 {
    font-size: 30px;
  }

  .chance-cup__header {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-text__container p {
    font-size: 16px;
    margin: 0 0 0 0;
    text-align: center;
}
}


