nav {
    /* width: 00vw; */
    padding: 0px 0px 10px 50px;
    margin-top: 0;
    position: fixed;
    z-index: 1;
    
}

.navbar-main__container {
    width: 86.21%;
    position: fixed;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 50px 0 20px;
    border: 1px solid #41FAB8;
    background: linear-gradient(to bottom right, #B1328D, #382E84);
    transition: all 0.3s ease;
}

.navbar-container:hover {
    transform: scale(1.01);
    background: linear-gradient(to bottom right, #B1328D, #382E84);
    /* background: linear-gradient(to bottom right, #B1328D, #B1328D, #382E84, #382E84); */
    text-shadow: 0 0 20px #41FAB8;
    /* box-shadow: 0 0 10px #41FAB8; */
    animation: gradient-animation 1s ease-in-out infinite;
}

.fcc-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-message-box {
    position: absolute;
    top: 70px;
    right: 5%;
    transform: translateX(50%);
    display: none;
    /* text-align: center; */
    opacity: 0;
    padding: 5px 10px 10px 10px;
    background-color: #B1328D;
    border: 1px solid #41FAB8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 19px;
    width: 150px;
    color: #41FAB8;
    font-size: 18px;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

    .fcc-navbar:hover .nav-message-box {
    opacity: 1;
    visibility: visible
  }

  .nav-message-box.new-visible {
    opacity: 1;
    visibility: visible;
  }

  .added-color {
    color: #41FAB8;
  }
  
  /* Arrow styling */
  .nav-message-box::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #B1328D;
  }

@keyframes gradient-animation {
    0% {
        background: linear-gradient(to bottom right, #B1328D 0%, #382E84 100%);
    }
    1% {
        background: linear-gradient(to bottom right, #B1328D 1%, #382E84 99%);
    }
    2% {
        background: linear-gradient(to bottom right, #B1328D 2%, #382E84 98%);
    }
    3% {
        background: linear-gradient(to bottom right, #B1328D 3%, #382E84 97%);
    }
    4% {
        background: linear-gradient(to bottom right, #B1328D 4%, #382E84 96%);
    }
    5% {
        background: linear-gradient(to bottom right, #B1328D 5%, #382E84 95%);
    }
    6% {
        background: linear-gradient(to bottom right, #B1328D 6%, #382E84 94%);
    }
  }

.site-title {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VTF Redzone Classic', sans-serif;
}

.site-title p {
    margin: 0;
    padding: 0;
}

.other-links ul {
    display: flex;
    gap: 50px;
    padding: 0;
    list-style-type: none;
    font-size: 24px;
}

.other-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Teko", sans-serif;
}


